<h1><%=@song.name%></h1>

<h2>Composed by: <a href="/artists/<%=@song.artist.slug%>"><%=@song.artist.name%></a></h2>

<h2>Genre(s): <a href="/genres/<%=@song.genres.slug%>"><%=@song.genres.name%></a></h2>
